<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{assets/vendor/linearicons/style.css}"/>
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{assets/css/main.css}"/>
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{assets/img/apple-icon.png}"/>
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{assets/img/favicon.png}"/>

	<style type="text/css">body,html{width:100%;height:100%;margin:0;font-family:"Microsoft YaHei"}#customMap{width:100%;height:400px}input,b,p{margin-left:5px;font-size:14px}</style>

	<!-- Javascript -->
	<script type="text/javascript" src="http://api.tianditu.com/api?v=4.0"></script>
	<script th:src="@{http://lbs.tianditu.com/api/js4.0/opensource/data/points-sample-data.js}"></script>
	<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{js/vis-common.js}"></script>
	<script th:src="@{js/data_final.js}"></script>
	<script>
		function onLoad() {
			//初始化地图对象
			var map,zoom = 4;
			map = new T.Map("customMap");
			//设置显示地图的中心点和级别
			map.centerAndZoom(new T.LngLat(116.40969, 39.90940), zoom);
		}
	</script>
</head>

<body onload="onLoad()">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			
			<!--logo icon-->
			<div class="brand">
				<a th:href="@{/index}"><img th:src="@{img/logo-dark17.png}" alt="Klorofil Logo" class="img-responsive logo"/></a>
			</div>
			<!--end logo icon-->
			
			<div class="container-fluid">
				
				<!--top button-->
				<!--
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				-->
				<!--end top button-->
				
				<!--top menu-->
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a th:href="@{./index.html}"><span>首页</span> </a>
						</li>
						<!--<li class="dropdown">
                            <a href="#" class="tl_type" id="v00)" class="dropdown-toggle" data-toggle="dropdown">

                            <span>关于我们</span>
                            <i class="icon-submenu lnr lnr-chevron-down"></i></a>

                        </li>-->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">

								<span>站点资料</span>
								<i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#" class="tl_type" id="v10">地面资料</a></li>
								<li><a href="#" class="tl_type" id="v11">高空资料</a></li>
								<li><a href="#" class="tl_type" id="v12">检验用降水资料</a></li>
								<li><a href="#" class="tl_type" id="v13">台风资料</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">

								<span>格点资料</span>
								<i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#" class="tl_type" id="v20">海温资料</a></li>
								<li><a href="#" class="tl_type" id="v21">检验用格点要素场资料</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span>文件资料</span>
								<i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"  class="tl_type" id="v30">雷达资料</a></li>
								<li><a href="#" class="tl_type" id="v31">风廓线资料</a></li>
								<li><a href="#" class="tl_type" id="v32">卫星资料</a></li>
								<li><a href="#" class="tl_type" id="v33">GPS资料</a></li>
							</ul>
						</li>
					</ul>
					
				</div>
				<!--end top menu-->
				
			</div>
		</nav>
		<!-- END NAVBAR -->
		
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav" id="navId">
					
						<li>
							<a data-toggle="collapse"><i ></i>
							<span>站点资料</span> 
							<!--子图标标识-->
							<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
						</li>
						<hr/>
						
						<li>
							<a href="#subPages10" data-toggle="collapse" class="collapsed">
							<span>中国地面逐小时资料</span> 
							<!--子图标标识-->
							<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="subPages10" class="collapse ">
								<ul class="nav">
									<li><a th:href="@{page-profile.html}" class=""><i class="lnr lnr-chart-bars"></i>折线图</a></li>
									<li><a href="#" class="bin_map" id="1"><i class="lnr lnr-list"></i>分布图</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages11" data-toggle="collapse" class="collapsed">
							<span>全球地面逐小时资料</span> 
							<!--子图标标识-->
							<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="subPages11" class="collapse ">
								<ul class="nav">
									<li><a th:href="@{page-profile.html}" class=""><i class="lnr lnr-chart-bars"></i>折线图</a></li>
									<li><a href="#" class="bin_map" id="2"><i class="lnr lnr-list"></i>分布图</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		
		
        <!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
				<h3 class="page-title">Elements</h3>
					<div class="panel">
						<div class="panel-heading">
						</div>
						<div class="panel-body">
							<div id="customMap" width="100%"  border="0"  style="padding: 0px; width: 100%; height: 600px;">
							</div>
						</div>
						<div class="panel-body">
							<div id="grid" width="100%"  border="0"  style="padding: 0px; width: 100%; height: 400px;">
							lkjslkdjfflskdjf
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
	<!-- END WRAPPER -->
	
	
</body>
</html>
