<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<script type="text/javascript" src="http://api.tianditu.com/api?v=4.0"></script>
	<style type="text/css">
		body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#mapDiv{height:400px;width:100%;}
		p { margin-top: 10px;margin-left: 5px;font-size: 14px;}
	</style>
	<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
	<script>
		var map, zoom = 4;

	</script>
</head>

<body onload="onLoad()">
	<!-- WRAPPER -->
	<div id="mapDiv">
				
<!-- MAIN -->
		<div>
			<!-- MAIN CONTENT -->
			
			   <p/>sdjkflsdfsdfsd
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
	<!-- END WRAPPER -->
</body>

</html>
