<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>HELLO WORLD</title>
    <script type="text/javascript" src="http://api.tianditu.com/api?v=4.0"></script>

    <script>

        var map;

        var zoom = 12;

        function onLoad() {

            mapExample = new T.Map('mapDiv');

            mapExample.centerAndZoom(new T.LngLat(116.40769, 39.89945), zoom);

        }

    </script>

</head>

<body onLoad="onLoad()">

<div id="mapDiv" style="position:absolute;width:500px; height:400px"></div>

</body>

</html>
