@charset "utf-8";

/* CSS Document */
html, body {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    color: #333;
    line-height: 24px;
    height: 100%;
    min-height: 100%;
    font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

a:link, a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f51d2d;
}

.clear {
    clear: both
}

.background {
    background-image: url(./inner_about.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
    color: #000;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
}

div, ul li {
    margin: 0px auto;
    padding: 0px;
}

#wrap {
    width: 100%;
    min-height: 100%;
    height: 100%
}

.screen {
    min-width: 680px;
    max-width: 1200px;
    position: relative;
    padding: 0px 15px;
}

.box_shadow {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px #ccc;
}

/* Header */
.header {
    position: relative;
}

.header .logo {
    float: left;
    padding: 15px 0
}

.header .logo img {
    height: auto;
}

.header .top_shortcut {
    padding: 0px;
    position: absolute;
    right: 8px;
    top: 6px;
    z-index: 1
}

.header .language {
}

.header .top_shortcut ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header .top_shortcut ul li {
    float: left;
    padding-left: 15px;
    font-size: 13px;
}

.header .top_shortcut ul li a:hover {
    text-decoration: none
}

.header .top_shortcut ul li a.current {
    text-decoration: underline;
    color: #f51d2d
}

.top_linking {
    position: absolute;
    right: 15px;
    top: 60px;
}

.top_linking div {
    float: right;
    margin-left: 15px;
}

.icon_member {
    border-right: 1px dotted #ddd;
    margin-right: 0px;
}

.icon_member a {
    padding: 0px 10px 0px 38px;
    background: url(../images/icon_member.png) no-repeat;
    background-position: 0px 10%;
    text-transform: uppercase;
    color: #0497d0;
    display: inline-block
}

.icon_member a:hover {
    background: url(../images/icon_member.png) no-repeat;
    background-position: 0px 10%;
    opacity: .7
}

.sp_area {
    padding: 0px 20px;
    color: #666
}

.globe_link a {
    background: url(../images/Ico-3.png) no-repeat #f5f5f5;
    background-position: 15px 50%;
    padding: 7px 15px 7px 65px;
    display: block;
    color: #333;
    text-decoration: none;
}

.globe_link a:hover {
    background: url(../images/Ico-3.png) no-repeat #d3f3ff;
    background-position: 15px 50%;
}

.cms_demo a {
    background: url(../images/panel.png) no-repeat #b01731;
    background-position: 15px 50%;
    padding: 10px 15px 10px 55px;
    display: block;
    color: #FFF;
    text-decoration: none;
}

.cms_demo a:hover {
    background: url(../images/panel.png) no-repeat #333;
    background-position: 15px 50%;
}

.tutor_back a {
    background: url(../images/panel.png) no-repeat #0570bf;
    background-position: 15px 50%;
    padding: 10px 15px 10px 55px;
    display: block;
    color: #FFF;
    text-decoration: none;
}

.tutor_back a:hover {
    background: url(../images/panel.png) no-repeat #333;
    background-position: 15px 50%;
}

/* Content Section */
.container {
    float: left;
    width: 100%;
    min-height: 300px;
    padding-bottom: 0px;
    text-align: center;
}

.main_about {
    float: left;
    width: 100%;
    min-height: 300px;
    padding-bottom: 30px;
    overflow: hidden
}

.main_service {
    float: left;
    width: 100%;
    min-height: 320px;
    padding: 30px 0;
    background: url(../files/bg_main_area.jpg) no-repeat center center;
}

.index_main {
    margin: 10px 0px 40px 0;
    min-height: 250px;
}

.index_main .intro {
    float: left;
    width: 56%;
    text-align: justify;
}

.index_main .icon_right {
    float: right;
    width: 42%;
}

.index_main .icon_right ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.index_main .icon_right ul li {
    float: left;
    width: 48%;
    margin-left: 0%;
}

.index_main .icon_right ul li + li {
    margin-left: 4%;
}

.index_main .icon_right ul li img {
    width: 100%;
}

.more {
    margin: 0px;
    padding: 0px;
}

.more a {
    background: url(../files/bg_more.png) no-repeat;
    color: #666;
    width: 125px;
    font-size: 21px;
    padding: 10px 0 10px 25px;
    float: left;
}

.more a:hover {
    background: url(../files/bg_more_over.png) no-repeat;
    color: #ea0d25;
}

.more_b {
    margin: 0px;
    padding: 0px;
}

.more_b a {
    background: url(../files/bg_more.png) no-repeat;
    color: #fff;
    width: 125px;
    font-size: 21px;
    padding: 10px 0 10px 25px;
    float: left;
}

.more_b a:hover {
    background: url(../files/bg_more.png) no-repeat;
    color: #000;
}

/* Footer Section */
#footer {
    font-size: 12px;
    padding: 0px;
    position: relative;
    height: auto;
    clear: both;
}

#footer .screen {
    padding-top: 25px;
}

#footer .copy {
    width: 60%;
    float: left;
    color: #333;
    padding: 20px 0 0 0;
}

#footer .copy a {
    padding: 0px 15px 0 0;
    margin-right: 15px;
    border-right: 1px solid #999;
}

.back_top {
    position: absolute;
    right: 0px;
    top: 0px;
}

.back_top a {
    background: url(../files/icon_top.jpg) no-repeat;
    width: 80px;
    height: 155px;
    display: block
}

#footer .right_link {
    width: 10%;
    float: right;
    color: #333;
    text-align: right;
    padding: 20px 90px 0 0;
}

#footer .right_link a:hover {
    color: #f51d2d;
}

.company_info_footer {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0px;
}

.company_info_footer .company_name {
    float: left;
    width: auto;
}

.company_info_footer.company_name h3 {
}

.company_info_footer .info {
    float: left;
    clear: both;
    font-size: 14px;
}

.company_info_footer .info td {
    padding-right: 5px;
    padding-bottom: 5px;
}

.info a {
    color: #ea0d25
}

.nevigation {
    padding: 10px 0px;
    display: none
}

.nevigation .home {
    background: url(../images/icon_home.png) no-repeat;
    background-position: 0px -1px;
    background-size: 16px 16px;
    display: block;
    padding-left: 25px;
    font-size: 12px
}

.nevigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #f51d2d;
    float: right
}

.nevigation ul .sp {
    padding: 0px 15px;
    color: #666
}

.nevigation ul li {
    float: left;
    line-height: 16px;
}

.nevigation ul li a {
    color: #666;
    text-decoration: none
}

.nevigation ul li a:hover {
    color: #f51d2d;
    text-decoration: underline
}

.inner_main {
    margin: 20px 0px 0px 0;
    min-height: 250px;
    text-align: justify;
    float: left;
    width: 100%;
}

.inner_main .img {
    max-width: 100%;
}

.inner_main p {
    clear: both;
    margin-bottom: 15px;
}

.inner_main a {
    color: #FC0
}

.Album {
    background: #fafafa;
    border: 1px solid #d7d7d7;
    border-radius: 0px;
    position: relative;
    margin-bottom: 30px;
}

.Album .title {
    margin: 2%;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.Album ul {
    list-style: none;
    padding: 0% 1% 1% 1%;
}

.Album ul li {
    float: left;
    margin: 1%;
    width: 23%;
    text-align: center;
    background: #FFF
}

.Album ul li img {
    width: 100%;
}

.Album ul li .enlargeicon {
    position: absolute;
    text-align: center;
    top: 43%;
    width: 100%;
}

.Album_tpl_B {
    background: #fafafa;
    border: 1px solid #d7d7d7;
    border-radius: 0px;
    position: relative;
    margin-bottom: 30px;
}

.Album_tpl_B .title {
    margin: 2%;
    width: auto;
    height: auto;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
}

.Album_tpl_B .title span {
    padding: 3px 15px;
    background: #333;
    color: #FFF;
}

.Album_tpl_B ul {
    list-style: none;
    padding: 0% 1% 1% 1%;
}

.Album_tpl_B ul li {
    float: none;
    margin: 1%;
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

.Album_tpl_B ul li .photo_Area {
    float: left;
    width: 25%;
}

.Album_tpl_B ul .photo_Area img {
    width: 100%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 2px #ccc;
}

.Album_tpl_B ul .photo_Area img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.Album_tpl_B ul .photo_Area:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.Album_tpl_B ul li .Description {
    width: 72%;
    float: right;
    text-align: left;
}

.Pdf_download {
    background: #fafafa;
    border: 1px solid #d7d7d7;
    border-radius: 0px;
    position: relative;
    margin-bottom: 30px;
}

.Pdf_download .title {
    margin: 2%;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.Pdf_download ul {
    list-style: none;
    padding: 0% 1% 1% 1%;
}

.Pdf_download ul li {
    float: left;
    margin: 1%;
    width: 30%;
}

.Pdf_download ul li a {
    display: block;
    color: #333333;
    background: url(../images/pdf_download.png) no-repeat;
    background-position: 0px 0%;
    padding: 3px 3px 3px 35px;
    font-size: 15px;
    text-align: left
}

.Pdf_download ul li a:hover {
    color: #f51d2d
}

.cd-top {

}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

.Sub_menu_container {
    width: 26%;
    float: right;
    margin-top: 20px;
    border-top: 2px solid #0068b3;
}

.Sub_menu_container .title {
    display: none;
    background: #fff;
    color: #333;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 0px;
    text-align: center;
    padding: 6px 0;
    text-transform: uppercase;
}

.sub_menu {
}

.sub_menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sub_menu ul li {
    margin: 0px;
    border-bottom: 1px dotted #00afef;
}

.sub_menu ul li a {
    padding: 12px 15px 12px 30px;
    color: #00309e;
    display: block;
    font-size: 15px;
    text-decoration: none;
    background-color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.sub_menu ul li a:hover {
    background: #f51d2d;
    color: #fff;
}

.sub_menu ul li a.current {
    background: url(../images/pt_arrow.png) no-repeat #fff;
    background-position: 15px 18px;
    color: #00afef;
}

.sub_menu ul li ul {
}

.sub_menu ul li ul li {
    margin: 0px;
    border-bottom: 0px solid #d2d4d4;
    border-top: 0px solid #fff;
}

.sub_menu ul li ul li a {
    background: url(../images/icon_arrow_r.png) no-repeat #fff;
    padding: 10px 10px 10px 28px;
    font-size: 13px;
    background-position: 12px 50%;
}

.sub_menu ul li ul li a:hover, .sub_menu ul li ul li a.current {
    background: url(../images/icon_arrow_r_white.png) no-repeat #f51d2d;
    background-position: 12px 50%;
}

#Main_content_with_submenu {
    width: 77%;
    float: left;
}

.fade_effect {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

/* Product */
.Product_category {
    background: #fff;
    position: relative;
    margin-bottom: 30px;
}

.Product_category ul {
    list-style: none;
    padding: 0% 0% 0% 0%;
    margin-right: -1.5%
}

.Product_category ul li {
    float: left;
    margin: 0px 1.5% 15px 0%;
    width: 31.8%;
    text-align: center;
    background: #FFF
}

.Product_category ul li div {
    border: 5px solid #fff;
    box-shadow: 0px 0px 2px #ccc;
}

.Product_category ul li img {
    width: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.Product_category ul li:hover img {
    opacity: 0.7;
}

.Product_category ul li a {
    text-decoration: none
}

.Product_category ul li p {
    padding: 10px 10px 0 10px
}

.Product_category ul li:hover p {
    color: #666
}

.product_gallery {
    float: left;
    width: 70%;
}

.product_description {
    float: right;
    width: 28%;
}

/* News */
.News {
    background: #fff;
    position: relative;
    margin-bottom: 30px;
}

.news_listing ul {
    list-style: none;
    padding: 0% 0% 0% 0%;
    margin-right: -1.5%
}

.news_listing ul li {
    float: left;
    margin: 0px 1.5% 15px 0%;
    width: 31.8%;
    text-align: center;
    background: #FFF;
    position: relative
}

.News .date {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 90px;
    z-index: 1;
    opacity: 0.9;
    text-align: center
}

.News .Day {
    background: #333;
    color: #fff;
    line-height: 70px;
    font-size: 38px;
    white-space: nowrap;
    margin: 0px;
}

.News .Month_Year {
    background: #b01731;
    color: #fff;
    line-height: 25px;
    font-size: 12px;
    white-space: nowrap;
    margin: 0px;
}

.news_listing ul li .News_Contetent {
    border: 5px solid #fff;
    box-shadow: 0px 0px 2px #ccc;
}

.news_listing ul li p {
    padding: 10px 10px 0 10px
}

.news_listing ul li:hover p {
    color: #666
}

.news_listing ul li img {
    width: 100%;
}

.news_listing ul li .prev {
    width: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.news_listing ul li:hover .prev {
    opacity: 0.7;
}

.news_listing ul li a {
    text-decoration: none
}

.news_detail {
    border: 5px solid #fff;
    box-shadow: 0px 0px 2px #ccc;
    position: relative;
    min-height: 250px;
    clear: both;
    background: #f7f7f7
}

.News_container {
    background: #FFFFFF;
    min-height: 300px;
    margin: 15px 15px 15px 115px;
    padding: 15px;
}

.news_detail h2 {
    margin: 10px 0 0 115px;
}

.pagers {
    text-align: center;
    margin: 10px 0;
}

.pagers a {
    color: #333333;
    padding: 2px 10px;
    margin: 0px 5px;
    border-radius: 50%;
    line-height: 15px;
}

.pagers a:hover {
    background: #ddd
}

.pagers a.current {
    color: #fff;
    background: #f51d2d
}

.btn_back {
    text-align: center;
    margin: 20px 0;
}

.btn_back a {
    padding: 7px 20px 7px 40px;
    background: url(../images/icon_back_white.png) no-repeat #000;
    background-position: 20px 50%;
    color: #FFF;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn_back a:hover {
    background: url(../images/icon_back_white.png) no-repeat #f51d2d;
    background-position: 12px 50%;
}

.contactus {
    width: 60%;
    background: #fff;
    padding: 20px;
    border: 5px solid #f5f5f5;
    margin-bottom: 90px;
}

.contactus .info {
}

#map {
    width: 100%;
    height: 350px;
}

.contactus .info table {
    margin: 15px 0;
    padding: 0px;
    width: 100%
}

.contactus .info table td {
    padding: 0px 8px 5px 0px;
    text-align: left;
}

.contactus .info .title_contact {
    width: 15%;
    padding-right: 15px;
}

.contactus .info table a {
    color: #f51d2d
}

.contactus .info table a:hover {
    color: #666
}

.maparea {
    margin: 0px 0px;
}

.maparea iframe {
    width: 100%;
    height: 350px;
}

.contact_form {
    float: right;
    width: 36%;
}

.sitemap {
}

.sitemap ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sitemap ul li {
    float: left;
    margin: 0px;
    width: 16%;
    margin: 10px 2% 10px 0;
    list-style: none;
}

.sitemap ul li ul {
    padding: 0px;
}

.sitemap ul li ul li {
    width: 100%;
    margin: 5px 0% 5px 0;
}

.sitemap ul li ul li ul li {
    margin: 5px 0% 5px 0;
}

.sitemap ul li + li + li + li + li + li {
    clear: both
}

.sitemap ul li + li + li + li + li + li + li {
    clear: none
}

.sitemap ul li a {
    font-size: 19px;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 5px 0px;
}

.sitemap ul li a:hover {
    text-decoration: none
}

.sitemap ul li ul li a {
    font-size: 15px;
    display: block;
    border-bottom: 0px solid #ddd;
    padding: 0px 0px 0px 0px;
}

.sitemap ul li ul li ul li a {
    font-size: 13px;
    display: block;
    border-bottom: 0px solid #ddd;
    padding: 0px 0px 0px 0px;
}

.banner {
    height: auto;
    position: relative;
}

.banner_show {
    height: 335px;
}

.banner .title_banner {
    display: none
}

.banner_show .title_banner {
    display: block;
    text-align: left
}

.legal {
    padding: 30px 0 100px 0;
}

.legal a {
    color: #ea0d25
}

.spacing {
    padding: 0px 5px;
}

.title_banner {
    position: absolute;
    left: 25px;
    top: 150px;
    font-size: 44px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
    line-height: 40px;
    width: auto
}

.main_box {
}

.logi_title {
    text-align: center;
    padding: 40px 0px 70px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 36px;
}

.logi_title span {
    color: #f51d2d;
}

.bg_main_left {
    background: url(../files/bg_main_left.jpg) no-repeat;
    position: absolute;
    width: 159px;
    height: 310px;
    left: -160px;
    top: 15px;
}

.bg_main_right {
    background: url(../files/bg_main_right.jpg) no-repeat;
    position: absolute;
    width: 178px;
    height: 310px;
    right: -180px;
    top: 15px;
}

.main_area {
    position: relative;
    margin-bottom: 30px;
}

.main_box_bg {
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
    position: relative;
}

.right_photo {
    float: right;
    width: 43%;
    padding: 1%;
}

.right_photo img {
    width: 100%;
}

.left_description {
    float: left;
    width: 54%;
}

.left_description div {
    padding: 0 22px 15px 22px;
    text-align: justify;
    line-height: 28px;
}

.left_description h1 {
    margin-bottom: 10px;
}

.main_serv_bg {
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
    position: relative;
    float: left;
    width: 67.5%;
}

.left_photo {
    float: left;
    width: 40%;
    padding: 0;
}

.left_photo img {
    width: 100%;
}

.R_description {
    float: right;
    width: 48%;
    color: #fff;
}

.R_description div {
    padding: 0 22px 15px 22px;
    text-align: justify;
    line-height: 28px;
}

.R_description h1 {
    margin-bottom: 10px;
}

.m_r_box {
    float: right;
    width: 30.4%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
}

.m_r_box div {
    padding: 0 22px 15px 22px;
    text-align: justify;
    line-height: 28px;
}

.m_r_box img {
    width: 100%;
}

.icon_email {
    width: 100%;
    padding: 40px 0px 108px 0;
    text-align: center;
    display: none
}

.icon_email a {
    margin: 0px auto;
    padding: 8px 20px 8px 55px;
    background: url(../images/icon_email.png) no-repeat rgba(4, 151, 208, .8);
    background-position: 16px 50%;
    color: #fff;
    display: inline-block
}

.icon_email a:hover {
    background: url(../images/icon_email_over.png) no-repeat rgba(255, 255, 255, .8);
    background-position: 16px 50%;
    color: #0497d0;
}

.prime {
    font-size: 19px;
    text-align: center;
    margin: 65px 0 150px 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 08)
}

ul.menu {
    float: right;
    list-style: none;
    margin: 70px 0 0 0
}

ul.menu li {
    float: left;
    margin: 0px;
    padding: 0px;
}

ul.menu li a {
    padding: 0px 15px
}

/* MENU */
#nav-wrap {
    position: absolute;
    right: 30px;
}

/* Clearfix */
.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

*:first-child + html .group {
    zoom: 1;
}

/* IE7 */

/* Example One */
#example-one {
    margin: 0 auto;
    list-style: none;
    position: relative;
    padding: 52px 0px 0px 0px;
    margin-right: -25px;
}

#example-one li {
    display: inline-block;
    margin: 0 0px 0px 0px;
}

#example-one a {
    color: #333;
    border-right: 1px dotted #ddd;
    font-size: 17px;
    line-height: 19px;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#example-one a:hover {
    color: #ea0d25;
}

#magic-line {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 30px;
    height: 2px;
    background: #ea0d25;
}

#example-one .current_page_item a {
    color: #ea0d25;
}

.ie6 #example-one li, .ie7 #example-one li {
    display: inline;
}

.ie6 #magic-line {
    bottom: -3px;
}

.about {
    width: 80%;
    padding: 10px 0px 40px 0;
    text-align: justify;
    line-height: 33px;
}

.bg_about_finance {
    background: url(../images/bg_about_finance.jpg) no-repeat center center #244770;
    height: auto;
}

.area_finance {
    float: right;
    width: 60%;
    padding: 50px 0px;
    color: #fff;
}

.area_finance h2 {
    font-size: 33px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    border-bottom: 0px solid #ea0d25;
    margin-bottom: 15px;
    padding: 5px 0px;
    line-height: 33px;
}

.area_finance ol {
    margin: 0px;
    background: rgba(255, 255, 255, .25);
    padding: 0px 0 0 44px
}

.area_finance ol li {
    margin: 0px 0 2px 0;
    padding: 7px 10px;
    color: #fff
}

.author {
    text-align: center;
    font-size: 21px;
}

.Num {
    color: #ea0d25;
    float: left;
    padding-right: 15px;
}

.business_type {
    background: #f1f1f1;
    padding: 20px;
    margin-bottom: 15px;
    border: ddd;
    width: 80%
}

.services_area {
    float: left;
    padding: 0px 0 0 0;
    width: 95%;
    text-align: justify;
}

.bg_about_business {
    background: url(../images/bg_buss.jpg) no-repeat #244770;
    height: auto;
    padding: 100px 15px;
}

.area_business {
    width: 60%;
    padding: 60px 3%;
    color: #fff;
    font-size: 19px;
    background: rgba(0, 0, 0, .4);
    text-align: left;
    line-height: 28px;
}

.footer_contact {
    margin: 15px 0px 15px 0;
}

.footer_contact a {
    border: 1px solid #ea0d25;
    color: #ea0d25;
    padding: 7px 15px;
    background: #fff;
}

.footer_contact a:hover {
    border: 1px solid #ea0d25;
    color: #fff;
    padding: 7px 15px;
    background: #ea0d25;
}

.contact_joyce {
    width: 26%;
    padding: 2%;
    float: right;
    background: rgba(255, 255, 255, .7);
    min-height: 223px;
}

.contact_joyce a {
    color: #ea0d25;
    padding-bottom: 15px;
    min-height: 223px;
}

.bb_list {
    margin-bottom: 10px;
}

.bb_list ul {
    list-style: none;
    margin: 0px 0px 0;
    padding: 1%;
}

.bb_list ul li {
    float: left;
    width: 31%;
    padding: 1%;
    background: rgba(255, 255, 255, 1);
    color: #000;
    font-size: 15px;
    margin: 1px;
    text-align: left;
    line-height: 19px;
}

.Related_Links {
    clear: both
}

.Related_Links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.Related_Links ul li {
    float: left;
    padding: 0px 10px 0 0;
}

.Related_Links a {
    color: #ea0d25;
}

.Related_Links a:hover {
    color: #666;
    text-decoration: underline;
}

div.error, table tr.error {
    display: none
}

#map {
    background: url(../images/map_google.jpg) no-repeat center center;
    background-size: cover;
}