<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" href="js/calendar/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/tooltipster.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style2.css"/>
    <script type="text/javascript" src="assets/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.tooltipster.js"></script>
    <script type="text/javascript" src="js/calendar/laydate.js"></script>
    <!--<script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/gm_data.js"></script>-->
    <script type="text/javascript" src="js/track_map.js"></script>
    <script type="text/javascript" src="js/common_chart.js"></script>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>

    <!-- Javascript -->
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/jquery.easyui.min.js}"></script>

    <script type="text/javascript" src="http://api.tianditu.com/api?v=4.0"></script>
    <script th:src="@{http://lbs.tianditu.com/api/js4.0/opensource/data/points-sample-data.js}"></script>

</head>

<body>

<div id="bin_satellite_map_div">
    <div class="binSatelliteMapChoice">
        <ul class="nav navbar-nav navbar-left">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>日期:</strong> <input class="inline laydate-icon" placeholder="请输入日期" id="querySatelliteDate"
                                        style="width:130px; margin-right:10px;"/>

            <strong>&nbsp;&nbsp;&nbsp;&nbsp;卫星平台:&nbsp;</strong>
            <select class="" id="satelliteType" name="dataType">
            </select>

            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卫星时次:&nbsp;</strong>
            <select class="" id="querySatelliteTime" style=" min-width: 150px;max-width: 360px ;">
                <option value="0">请选择卫星时次</option>
            </select>

            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button onclick="SatelliteQuery()"><strong>    &nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            </button>
        </ul>
    </div>

    <div id="satelliteMap" width="100%" border="0" style="padding: 0px; margin:15px auto; width: 98%; height: 600px;">
    </div>
</div>


<!--<div class="box">
	<ul class="select">

		<div class="startTime2">
			<ul class="inline">
				<strong>资料时间：</strong> <input placeholder="请输入日期" class="laydate-icon" id="start2"/>
				&nbsp;<span id="message" style="color: red;font-size: 12px;"></span>
			</ul>
		</div>
	</ul>
-->
<!--   选择项目
<ul class="select">
    <li class="select-list">
        <dl id="selectParent">
            <dt>格点：</dt>
            <dd id="ec00" class="select-ee selected"><a href="#">美国海温格点</a></dd>
        </dl>
    </li>
    <li class="select-list">
        <dl id="selectChildren1" >
            <dt>要素：</dt>
            <dd  id="wendu01" value="TM_GRID_ECMWF_T" class="selected"><a href="#" >海温格点</a></dd>
        </dl>

        <dl id="selectChildren2" hidden="hidden">
            <dt>要素：</dt>
            <dd id="jiangshui02" value="TM_GRID_JAPAN_PRE" class="select-jjj selected"><a href="#">降水</a></dd>
            <dd id="wendu02" value="TM_GRID_JAPAN_T"><a href="#" >温度</a></dd>
            <dd id="gaodu02" value="TM_GRID_JAPAN_H"><a href="#">位势高度</a></dd>
            <dd id="ufeng02" value="TM_GRID_JAPAN_U"><a href="#">U风</a></dd>
            <dd id="vfeng02" value="TM_GRID_JAPAN_V"><a href="#">V风</a></dd>
        </dl>

    </li>

</ul>
-->
<!--	<div id="page_data" >

	</div>
</div>-->

<script type="text/javascript">
    !function () {

        //日期范围限制
        var querySatelliteDate = {
            elem: '#querySatelliteDate',
            format: 'YYYY-MM-DD',
            //min: laydate.now(), //设定最小日期为当前日期
            min: '1900-01-01', //设定最小日期为当前日期
            max: '2099-00-01', //最大日期
            istime: false,
            istoday: true,
            choose: function (datas) {
                // end.min = datas;        //开始日选好后，重置结束日的最小日期
                // end.start = datas      //将结束日的初始值设定为开始日
            }
        };
        //laydate(querySatelliteDate);
        laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
        laydate(querySatelliteDate);//绑定元素
    }();
</script>
</body>
</html>
