@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	margin:0;
	padding:0;
	border:0;
	background-color: #fffdfa;
	margin:0;
	padding:0;
	font-size: 12px;
	}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
}

.more{
	text-decoration:none;
	color:#666666;
}.more:link {
	text-decoration:none;
	color:#666666;
}

.more:visited {
	font-size: 9pt;
	color: #666666;
	text-decoration: none;
}

.more:hover {
	text-decoration: underline;
	}A:link {
	color:#666666;
}
a:link {
	text-decoration:none;
	color: #a35353;
}
a:visited {
	font-size: 9pt;
	color: #666666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	}
.top {
	color: #FFFFFF;
	text-align: right;
	padding-right: 5px;
}

.top_name {
	color: #fec923;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}
.left_bg {
	background-repeat: no-repeat;
	background-position: left bottom;
	background-image: url(../images/menu_bg.jpg);
}
.table_border {
	border: 1px solid #e3ba89;
	background-color: #FFFFFF;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 99%;
	margin-right: auto;
	margin-left: auto;
}
.table_tree {
	border: 1px solid #e3ba89;
	background-color: #FFFFFF;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
}
.table_left {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #e3ba89;
	border-right-color: #e3ba89;
	border-bottom-color: #e3ba89;
	border-left-color: #e3ba89;
	background-image: url(../images/menu_title_bg.gif);
	background-repeat: repeat;
}
.table_right {
	background-image: url(../images/right_title_bg.gif);
	background-repeat: repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #e3ba89;
	border-right-color: #e3ba89;
	border-bottom-color: #e3ba89;
	border-left-color: #e3ba89;
	width: 100%;
	text-align: left;
	padding-right: 5px;
}
.table_right td{
	padding-right: 5px;
	padding-left: 5px;
	color: #b76d1d;

}
.operation {
	width:100%;
	overflow:hidden;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 4px;
}

 .operation td{
	text-align:right;
	width:125px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.table_padding {
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
.font_left {
	text-align: left;
}
.font_right {
	text-align: right;
}
.font_middle {
	text-align: center;
}
.font_left,.font_right{	font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
	font-size: 12px;
	color: #a35353;}
.star {color: #FF0000}
.input_text{width:100px;}
.input_file{width:300px; margin-left:-300px; filter:alpha(opacity=0); opacity:0;}

fieldset {
	border:1px dashed #999999;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

legend{
	text-align:center;
	color: #a35353;
	padding:10px;
	background-color: #FFFFFF;
	font-weight: bold;
}
textarea {
	width: 95%;
}

/*列表添加设定=======================================================================================================*/
.list_tit{
	border:1px solid #e3ba89;
	width:173px;
	height:25px;
	text-align:center;
	margin-bottom:5px;
	line-height:25px;
	background-color: #fef7e2;
}


